* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.header-logo {
  font-size: 80px;
  line-height: 94px;
  color: #000;
  cursor: pointer;
  margin-top: 63px;
}

.header-logo .part {
  color: #4bcaff;
}

.logo-link {
  text-decoration: none;
  color: #000;
}

.header-nav {
  background: #35444f;
  margin-top: 40px;
}

.header-nav-menu {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header-nav-menu > li:hover {
  height: 70px;
  display: flex;
  background-color: #222f3a;
  transition: 0.2s;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.header-nav-menu > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  padding: 25px 40px;
  cursor: pointer;
}

.main-content {
  display: flex;
}

.section-left {
  width: 344px;
  height: 400px;
  border: 1px solid #495863;
  margin-top: 48px;
}

.section-menu {
  list-style: none;
  height: 400px;
}

.section-left > .section-menu > li {
  height: 20%;
  padding-top: 26px;
  padding-left: 44px;
}

.section-left > .section-menu > li:hover {
  padding-left: 88px;
  background: #dbdbdb;
  transition: all 0.5s ease-in-out;
}

.section-left > .section-menu > li > a {
  text-decoration: none;
  color: #495863;
  font-size: 27px;
  line-height: 27px;
  cursor: pointer;
}

.section-right {
  width: 884px;
  height: 832px;
  margin-top: 48px;
  margin-left: 52px;
}

.section-img-container {
  width: 884px;
  height: 529px;
  border: 1px solid #495863;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-img {
  width: 320px;
  transition: 0.3s ease-in-out;
}

.section-img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.section-text {
  padding-top: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer {
  margin-top: 48px;
  height: 70px;
  background: #b4b7b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  width: 875px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 40px;
}

.footer-menu > li > a {
  text-decoration: none;
  color: #0c1927;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
}

.footer-menu > li > a:hover {
  color: #3181a6;
  text-decoration: underline;
  transition: 0.2s;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-right: 40px;
}
